extends layout.pug
block content
    include includes/errors.pug
    form(method="post" action="/create-interesting")
        include includes/form-inputs.pug
        label(for="age") Age:
        input(type="number" id="age" name="age" value=age)
        label(for="favoriteBeatle") Favorite Beatle:
        select(name="favoriteBeatle" id="favoriteBeatle" value=favoriteBeatle)
            option(value="") --Please choose an option--
            each beatle  in ["John", "Paul", "Ringo", "George", "Scooby-Doo"]
                if (beatle === favoriteBeatle)
                    option(value=beatle selected="selected")= beatle
                else
                    option(value=beatle)= beatle
        label(for="iceCream") Likes ice cream:
        if (iceCream)
            input(type="checkbox" name="iceCream" value=iceCream checked)
        else
            input(type="checkbox" name="iceCream" value=iceCream)
        input(type="submit" value="Create Interesting User")
